
.buttonconfirm{
  background-color:rgb(12, 112, 12);
  color:white;
}

.buttonNoBorder{
  background-color: Transparent;
  border: none;
  outline: none;
  height: 25px;
  width: 25px;
}

.tr,td{
  height: 25px;
  width: 25px;
}

.gridX{
  background-color:rgb(255, 0, 0);
  color:white;
}

.gridO{
  background-color:rgb(0, 30, 255);
  color:white;
}

.gridpre{
  background-color:rgb(255, 230, 0);
  color:rgb(0, 0, 0);
}