<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Werewolf</title>
</head>
<body>
    <h1>Werewolf</h1>
    <script src="../js/Werewolf.js"></script>
    <script src="../js/Werewolf_gameplay.js"></script>
    <div id="log"></div>
    <div id="download"></div>
    <div id="ruleZone">Waiting for calling</div>
    <div id="stage"><p>Not yet started</p></div><div id="day"></div>
    <div id="characters">
        Waiting for calling</div>
    <div id="charactersRef">Waiting for calling</div>
</body>
</html>